h1{
  text-align: center;
}


.Scores{
  display: flex;
  justify-content: space-around;
}

.Home,
.Away,
.Inning{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
}


.at-bat-tracker{
 display: flex;
 justify-content: space-around;
}

.button-section{
  display:flex;
  
}

.home-buttons{
   display: flex; 
   flex-direction: column;
}

.away-buttons{
  display: flex; 
   flex-direction: column;
}